@model Concert

@{
    ViewData["Title"] = "Détails du concert";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <p class="card-text">
                            <h5 class="card-title">
                                @Model.Nom
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="@Model.ImageURL" width="100%" alt="@Model.Nom">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">@Model.Description</p>
                       
                       
                        <p class="card-text"><b>Genre: </b>@Model.Genre</p>
                        <p class="card-text"><b>Date de début: </b>@Model.StartDate.ToString("dd MMM yy")</p>
                        <p class="card-text"><b>Date de fin: </b>@Model.EndDate.ToString("dd MMM yy")</p>
                        <p class="card-text ">
                            <b>Statut: </b>
                            @if (DateTime.Now >= Model.StartDate && DateTime.Now <= Model.EndDate)
                            {
                                <span class="badge bg-success text-white">DISPONIBLE</span>
                            }
                            else if (DateTime.Now > Model.EndDate)
                            {
                                <span class="badge bg-danger text-white">EXPIRÉ</span>
                            }
                            else
                            {
                                <span class="badge bg-primary text-white">À VENIR</span>
                            }
                        </p>
                        <p class="card-text">
                            <b>Artistes: </b>
                            <hr />
                            <div class="row">
                                @foreach (var Artiste in Model.Artiste_Concerts)
                                {
                                    <div class="column text-center">
                                        <img class="border-info rounded-circle" src="@Artiste.Artiste.PhotoURL" style="max-width: 150px" />
                                        <br />
                                        <a asp-controller="Artistes" asp-action="Details" asp-route-id="@Artiste.ArtisteId">@Artiste.Artiste.FullName</a>
                                    </div>
                                }
                            </div>
                        </p>

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer">
                        <p class="card-text">
                            <a class="btn btn-outline-primary float-right" asp-action="Index">
                                Retour à la liste
                            </a>
                            <a class="btn btn-success text-white"  
                               asp-controller="Orders" 
                               asp-action="AddItemToShoppingCart" asp-route-id="@Model.Id"><i class="bi bi-cart-plus"></i> Ajouter au panier (Price @Model.Prix.ToString("c"))</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>